<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Dashboard</title>
    <link rel="stylesheet" href="/static/css/Dashboard.css">
    
</head>
<div class="navcontainer">
    <div class="navbar">
        <a href="/" class="active">Dashboard</a>
        <a href="/">Add Stock</a>
        <a href="/">Reports</a>
        <a href="ListToBringDown">Bring Down</a>
        <a href="ListToBringDown">Change Location</a>
    </div>
</div>

<div class="container">
    
        <div class="header">
            <h2> {{LocationName }}'s Inventory Summary</h2>
        </div>
    
    <div class="dashboard">
        <div class="card">
            <h4><b>Items</b></h4>
            <p>0</p>
        </div>

        <div class="card">
            <h4><b>Rooms</b></h4>
            <p>0</p>
        </div>

        <div class="card">
            <h4><b>Total Quantity</b></h4>
            <p>0</p>
        </div>

        <div class="card">
            <h4><b>Total Value</b></h4>
            <p>$0</p>
        </div>


        <div style="clear:both;"></div>
        <h3>Recent Activity</h3>

        <div class="sudo-card">
            <p>There is no recent activity. Check back again.</p>
        </div>
        <div style="clear:both;"></div>
        <h3>Recent Items</h3>

        <div class="sudo-card">
            <p>There is no recent activity. Check back again.</p>
        </div>
        <div style="clear:both;"></div>
        <h3>Stock Levels</h3>

        <div class="sudo-card">
            <p>There is no recent activity. Check back again</p>
        </div>
       
    </div>

</div>
</body>

</html>