<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="homepage.css">
    <title>Inventory Managment</title>
    
</head>
<body>
    
    <h1 class="heading"> Inventory Managment </h1>
    
    <div class="main-element">
    <p> Welcome to the GSU inventory Managment Application Press <b>Enter</b> to start</p>
    <button class="btn" ><a href="location.html">Enter</a></button>
    </div>

    <div class="image">
    <img src="../images/GSUlogo.png" alt="Georgia State University">
    </div>

    <div class="copyright">
        <p>© Rahul Kanwar</p>
    </div>
    
</body>
</html>