<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation Bar</title>
    <link rel="stylesheet" href="static/css/NavBar.css">
</head>

<body>
    <div class="container">
        <div class="navbar">
            <a href="/Dashboard" class="active">Dashboard</a>
            <a href="/AddStocks">Add Stock</a>
            <a href="/">Reports</a>
            <a href="ListToBringDown">Bring Down</a>
            <a href="/">Change Location</a>
        </div>
    </div>


    <div class="container2">
         <div class="header">Inventory Management</div>
        <form id="itemForm" action="/ListToBringDown" method="POST">
            <div class="form-group">
                <label for="itemName">Item Name:</label>
                <input type="text" id="itemName" name="itemName" required>
            </div>
            <div class="form-group">
                <label for="quantity">Quantity:</label>
                <input type="number" id="quantity" name="quantity" required>
            </div>
            <div class="Button">
                <button type="submit">Submit</button>
            </div>
        </form>
        {% for stockroom, items in stockrooms_data.items() %}
            <p class="StockText">{{ stockroom }}</p>
            <table>
            <tr>
                <th>Item Name</th>
                <th>Quantity</th>
                <th>Actions</th>
            </tr>
            {% for item in items%}
            <tr>
                <td>{{ item['ProductName'] }}</td>
                <td>{{ item['Quantity'] }}</td>
                <td>
                    ✏️

                    ✅

                </td>

            </tr>
            {% endfor %}
            
        </table>
        {% endfor %}
    </div>
</body>

</html>