<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation Bar</title>
    <link rel="stylesheet" href="static/css/NavBar.css">
</head>

<body>
    <div class="container">
        <div class="navbar">
            <a href="{{ url_for('dashboard') }}" class="active">Dashboard</a>
            <a href="{{ url_for('add_product') }}">Add Products</a>
            <a href="/">Reports</a>
            <a href="/ListToBringDown.html">Bring Down</a>
        </div>
    </div>


    <div class="container2">
        <div class="header">Inventory Management</div>

        <div class="form-group">
            <label for="itemName">Item Name:</label>
            <input type="text" id="itemName" name="itemName">
        </div>

        <div class="form-group">
            <label for="itemQuantity">Quantity:</label>
            <input type="number" id="itemQuantity" name="itemQuantity">
        </div>
        <div class="ButtonContainer">
            <button>Submit</button>
            <button>Home 🏠</button>
        </div>

        <p class="StockText">StockRoom 1: The Small Stockroom</p>
        <table>
            <tr>
                <th>Item Name</th>
                <th>Quantity</th>
                <th>Actions</th>
            </tr>

            <tr>
                <td>Penunt Oil</td>
                <td>10</td>
                <td>
                    ✏️

                    ✅

                </td>

            </tr>
            <tr>
                <td>Canola Oil</td>
                <td>50</td>
                <td>
                    ✏️
                    ✅
                </td>
            </tr>
        </table>
        <p class="StockText">StockRoom 2: The big stock StockRoom</p>
        <table>
            <tr>
                <th>Item Name</th>
                <th>Quantity</th>
                <th>Actions</th>
            </tr>

            <tr>
                <td>30 OZ Cups</td>
                <td>1</td>
                <td>
                    ✏️
                    ✅
                </td>
            </tr>
            <tr>
                <td>20 OZ Cups</td>
                <td>50</td>
                <td>
                    ✏️
                    ✅
                </td>
            </tr>
        </table>
    </div>

    <!-- Testing, GSU -->
</body>

</html>