<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/location.css">
    <title>Inventory Management</title>
</head>
<body>
    <div class="wrapper">
        <div class="container2">
            <p class="StockText">Welcome to PantherStocks </p>
        </div>

        <div class="container" id="location1">
            <p class="LocationText">ChickFilA Excel Data</p>
        </div>
        <div class="container" id="location2">
            <p class="LocationText">Another Location Excel Data</p>
        </div>
        <!-- Placeholder for adding a new Excel file -->
        <div class="add-new">
            <a href="{{ url_for('ListToBringDown') }}" class="LocationLink">
                <p class="LocationText">Add Location</p>
            </a>
            
        </div>
        <!-- {% for file in excel_files %}
        <div class="container" id="{{ loop.index }}">
            <p class="LocationText">{{ file }} Excel Data</p>
        </div>
        {% endfor %}
        <div class="container" id="addNew">
            <p class="LocationText">Add Location</p>
        </div> -->
    </div>
</body>
</html>





