<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="location.css">
    <title>Inventory Managment</title>
</head>
<body>
    <div class="main-element">
        <h1 class="heading"> Select Location </h1>
    </div>
    <div class="options">
        <div class="box">
            <a href="homepage.html"><img class="cfa" src="../images/chick-fil-a.jpg" alt="Chick-fil-A"> </a>
            <br/>
            <br/>
            <br/>
        </div>
        <div class="box">
            <a href="homepage.html"><img class="cfa" src="../images/ghost kitchen.png" alt=""></a>
            <br/>
            <br/>
            <br/>
        </div>
        <div class="box">
            <a href="addlocation.html"><img class="cfa" src="../images/plus.jpeg" alt=""></a>
            <br/>
            <br/>
            <br/>
        </div>
    </div>
    <div class="copyright">
        <p>© Rahul Kanwar</p>
    </div>
</body>
</html>
